

body {
background-color: tan;
}

#okvir {
width:75%;
margin-left:auto;
margin-right:auto;
margin-top: -1%;
background-color: lemonchiffon;
padding-bottom: 20%;

}



#zaglavlje img {
float: left;
width: 20%;
height: 90px;
padding-left: 20%;
background-color:black;

}

#zaglavlje {

width:100%;
height: 30%;
background-color: black;
color: white;
padding-top: 3%;
float:left;
}

#p1 {
width: 60%;
text-align: left;
margin-top: 4%;
font-family: LightHouse;
font-weight: bold;
font-size-adjust: 0.58;
font-size: 35px;
background-color:black;
float: left;

}

#p2 {
width: 100%;
text-align: center;
float: left;
font-family: LightHouse;
font-weight: bold;
font-size-adjust: 0.58;
background-color: black;
padding-bottom: 10px;
font-size: 35px;
margin-top: -30px;
}


#naslov {
padding-top: 20px;
}


#meni{
width: 100%;
height: 35px;
text-align: center;
font-family: "Century Gothic", AppleGothic, sans-serif;
font-size: 20px;
font-weight: bold;
border-collapse: collapse;
float: left;
}


#desavanja table th { 
text-align: center; 
font-size:20px; 
font-weight: bold;
width: 25%;
}

#desavanja table td {
width: 25%;
text-align: center;
}

.nazivDesavanja
{
color: maroon;
font-weight: bold;
font-style: italic;
}

#cell4 { background-color: #B3B3B3;}
#cell1 {background-color:#D9D9D9; width:25%;}
#cell2 {background-color:#CCCCCC;}
#cell3 {background-color:#C0C0C0}

.meta
{
font-style: italic;
color: dimgrey;
padding-top: 2%;
width: 80%;
float: left;
height: 20px;
}

.slika {
width: 40%;
height: 40%;
float: left;
}

.opis 
{
  width: 36%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  height: 100px;
}

.naslov
{
    width: 36%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    font-weight: bold;
    height: 50px;
}

#oglasi {
width: 20%;
float: right;
background-color: darkkhaki;
height: 280%;
clear: right;
overflow: hidden;

}

#oglasi table {
background-color: darkkhaki;
width: 100%;
padding: 2%;
margin-top: 50%;
border: 1px black;
text-align: center; 
}

#oglasi  td { height: 200px; }

#meni a:link { 
color: maroon;
text-decoration: none;
}

#meni a:visited { color: red;}

.institucije li {
    background-image: url(block.png);
    background-repeat: no-repeat;
    padding-left: 25px; 
	list-style: none;
}


#sadrzaj {
padding-left: 5%;
padding-right: 5%;
padding-bottom: 3%;
overflow: hidden;
}

form table {
text-align: center;
}

form td { width: 30%; height: 50px;}

.unos { text-align: left; width: 68%; padding-left: 2%;}
#redPoruka {height: 150px;}

.greskeForme {
padding-left: 20px;
font-weight: bold;
color: red;
background-image: url(greska.png);
background-repeat: no-repeat;
    }
	

	nav:hover > ul {
		display: block;
			
	}
	
nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	display: none;
	position: absolute;
	margin-top:-1px;
	width:15%;
	
}
	
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		

	
	